* {
	box-sizing: border-box;
}

html, body {
	background: #e3ebf7;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	width: 100%;
	background-image: url("../images/paper_3.png");
	overflow: auto;
}

.wrapper {
	height: auto;
	min-height: 100%;
	margin: 0 auto;
	width: 960px;
	float: left;
	/* width: 960px; float: left; -----?? */
}

header {
	margin: 0 auto;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	position: absolute;
	overflow: auto;
	height: 100px;
	margin-right: 20px;
	
}

#name {
	background: #4aaaa5;
	color: white;
	display: inline-block;
	float: left;
	margin-left: 145px;
	bottom: 0px;
	height: 100%;
	padding: 15px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#menu {										/* Fix withoug "fixing"?? */
	display: inline-block;	/* Move to the right */
	position: relative;
	right: 300px;
	float: right;
	padding-top: 50px;
	font-size: 18px;
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
	color: #e5e3e3;
}

a {
	color: #777777;
	margin: 15px;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	font-weight: bold;			/* Bold changes position of nav */
}

#profile-picture {
	height: 200px;
	width: 140px;
	margin-left: 20px;
	margin-right: 20px;
	border: 1px solid #5a5b5b;
	float: left;
	clear: left;
}

#main,
#connect {
	float: left;
	background: #fff;
	margin-top: 150px;
}

h2 {
	color: #4aaaa5;
	margin-left: 20px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#main {
	width: 650px;
	display: inline-block;
	margin-bottom: 120px;
	margin-left: 40px;
	border: 1px solid #ddd;
	position: relative;
	left: 100px;
	padding: 10px;
}



#contact-form {
	padding: 0px 20px 20px 20px;
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
	font-size: 18px;
	color: #777;
}

input[type=text] {
	width: 100%;
	padding: 8px;
	margin-top: 7px;
	font-size: 14px;
}

textarea {
	width: 100%;
	margin-top: 7px;
}

input[type=submit] {
	width: 115px;
	padding: 13px;
	margin-top: 5px;
	background: #4aaaa5;
	border: none;
	color: #fff;
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
	font-size: 16px;

}



.portfolio-image {
	width: 270px;
	height: 205px;
	background: green;
}

.portfolio-box {
	width: 270px;
	height: 205px;
	position: relative;
	display: inline-block;
	left: 12px;							/*Check This*/
}

.portfolio-lable {
	width: 100%;
	background-color:#4aaaa5;
	color: #ffffff;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	bottom: 70px;
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
}


p {
	margin: 10px;
	margin-bottom: 25px;
	color: #777777;
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
	line-height: 150%;
}

h3 {
	color: #4aaaa5;
	text-align: center;
	position: relative;
	bottom: 10px;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#connect {
	width: 270px;
	border: 1px solid #ddd;
	display: inline-block;
	height: 200px;
	padding: 10px;
	position: relative;
	left: 150px;
}

#github {
	height: 69px;
	width: 69px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	position: relative;
	top: 1px;
}

#linkedin {
	height: 62px;
	width: 62px;
	display: inline-block;
	float: left;
	position: relative;
	bottom: 13px;
	right: 2px;
}

#stackoverflow {
	height: 61px;
	width: 61px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	position: relative;
	bottom: 31px;
}

#icons {
	margin-top: 30px;
	position: relative;
	left: 15px;
}

footer {
	clear: both;
	text-align: center;
	padding: 40px;
	font-size: 12px;
	background: #666;
	color: white;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	border-top: 10px solid #4aaaa5;
}

#main-line {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	height: 3px;
	background-color: #d8d8d8;
	border: none;
}

#connect-line {
	margin-bottom: 10px;
	height: 1.5px;
	background-color: #d8d8d8;
	border: none;
	opacity: 0.5;
}

section {
	width: 960px;
}